@font-face {
  font-family: 'dancingScript';
  src: url('../../assets/fonts/dancingscript-regular-webfont.woff2') format('woff2'),
       url('../../assets/fonts/dancingscript-regular-webfont.woff') format('woff'),
       url('../../assets/fonts/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firaSansBook';
  src: url('../../assets/fonts/firasans-book-webfont.woff2') format('woff2'),
       url('../../assets/fonts/firasans-book-webfont.woff') format('woff'),
       url('../../assets/fonts/firasans-book-webfont.svg#fira_sansbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firaSansBookItalic';
  src: url('../../assets/fonts/firasans-bookitalic-webfont.woff2') format('woff2'),
       url('../../assets/fonts/firasans-bookitalic-webfont.woff') format('woff'),
       url('../../assets/fonts/firasans-bookitalic-webfont.svg#fira_sansbook_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firaSansExtraLight';
  src: url('../../assets/fonts/firasans-extralight-webfont.woff2') format('woff2'),
       url('../../assets/fonts/firasans-extralight-webfont.woff') format('woff'),
       url('../../assets/fonts/firasans-extralight-webfont.svg#fira_sansextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firaSansExtraLightItalic';
  src: url('../../assets/fonts/firasans-extralightitalic-webfont.woff2') format('woff2'),
       url('../../assets/fonts/firasans-extralightitalic-webfont.woff') format('woff'),
       url('../../assets/fonts/firasans-extralightitalic-webfont.svg#fira_sansextralight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}