@font-face {
  font-family: 'dancingScript';
  src: url('../../fonts/dancingscript-regular-webfont.woff2') format('woff2'),
       url('../../fonts/dancingscript-regular-webfont.woff') format('woff'),
       url('../../fonts/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
  font-weight: normal;
  font-style: normal;
}