.form {
  display: flex;
  justify-content: center;
  position: fixed;
  // position: absolute;
  // top: 20px;
  z-index: 15;
  @include res654 {
    font-size: .9rem;
  }
  @include res480 {
    width: 100%;
    position: inherit;
  }
  &__input, &__button {
    height: 28px;
    background-color: rgba(0, 0, 0, .35);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-top: none;
    @include res654 {
      height: 22px;
    }
  }
  &__input {
    width: 160px;
    border-right: none;
    border-radius: 0 0 0 5px;
    outline: none;
    padding: 0 10px;
    @include res1080 {
      width: 120px;
      padding: 0 4px;
    }
    @include res654 {
      width: 90px;
    }
  }
  &__button {
    width: 50px;
    border-radius: 0 0 5px 0;
    outline: none;
    cursor: pointer;
    @include res654 {
      width: 40px;
    }
  }
}