.header {
  background: linear-gradient(45deg, rgba(255,213,3,1) 0%, rgba(255,0,0,1) 33%, rgba(204,0,255,1) 71%, rgba(72,100,242,1) 100%);
  color: rgba(255, 255, 255, .85);
  margin-bottom: 15px;
  &__title {
    height: 80px;
    font: 3rem / 80px 'dancingScript';
    text-align: center;
    @include res768 {
      height: 52px;
      font-size: 2rem;
      line-height: 52px;
    }
  }
}