.main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  @include res480 {
    flex-direction: column;
    align-items: center;
  }
  &__section {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    position: relative;
    &:last-child {
      @include res480 {
        width: 100%;
        border: none;
        margin: 0;
      }  
    }
    @include res480 {
      flex: 0 1 auto;
      max-width: 70%;
      // height: 200px;
      align-items: center;
      border-bottom: 1px solid $borderColor;
      margin-bottom: 20px;
    }
  }
  &__sectionTitle {
    display: none;
    font-family: 'firaSansBookItalic';
    font-size: 1.3rem;
    @include res480 {
      display: block;
    }
  }
}